### local
.old/

### packages
asterisk/.extracted
asterisk/.extracted_chan_dongle
asterisk/asterisk-13.19.2/
asterisk/asterisk-chan-dongle/
autoconf/.extracted
autoconf/autoconf-2.69/
automake/.extracted
automake/automake-1.16.1/
bash/.extracted
bash/bash-4.4.18/
bdb/.extracted
bdb/db-4.7.25/
binutils/.extracted
binutils/binutils-2.30/
binutils/build-binutils/
bison/.extracted
bison/bison-3.0.4/
boost/.extracted
boost/user-config.jam
boost/boost_1_67_0
bzip2/.extracted
bzip2/bzip2-1.0.6/
check/.extracted
check/check-0.10.0/
cheetah/.extracted
cheetah/Cheetah3-3.0.0/
cmake/.extracted
cmake/cmake-3.11.0/
cmake/cmake-3.11.0-native/
coreutils/.extracted
coreutils/coreutils-8.25/
cpio/.extracted
cpio/cpio-2.12/
curl/.extracted
curl/curl-7.59.0/
diffutils/.extracted
diffutils/diffutils-3.6/
distcc/.extracted
distcc/distcc-distcc-3.1/
expat/.extracted
expat/expat-2.2.5/
file/.extracted
file/file-5.32-native/
file/file-5.32/
findutils/.extracted
findutils/findutils-4.5.19/
flex/.extracted
flex/flex-2.6.0/
gawk/.extracted
gawk/gawk-4.2.1/
gcc/
gettext/.extracted
gettext/gettext-0.19.8.1/
git/.extracted
git/git-2.17.0/
glib/.extracted
glib/glib-2.26.1/
gmp/.extracted
gmp/gmp-6.1.2/
gnutls/.extracted
gnutls/gnutls-3.6.2/
grep/.extracted
grep/grep-3.1/
gzip/.extracted
gzip/gzip-1.9/
htop/.extracted
htop/htop-2.1.0/
iksemel/.extracted
iksemel/iksemel-1.5/
jansson/.extracted
jansson/jansson-2.11/
lbzip2/.extracted
lbzip2/lbzip2-2.5
libevent/.extracted
libevent/libevent-2.0.22-stable/
libffi/.extracted
libffi/libffi-3.2.1/
libgdbm/.extracted
libgdbm/gdbm-1.14.1/
libiconv/.extracted
libiconv/libiconv-1.15/
libmysqlclient/.extracted
libmysqlclient/mysql-connector-c-6.1.6-src
libmysqlclient/mysql-connector-c-6.1.6-src-native
libpar2/.extracted
libpar2/libpar2-0.4/
libpcap/.extracted
libpcap/libpcap-1.9.0/
libreadline/.extracted
libreadline/readline-7.0/
libsigc++/.extracted
libsigc++/libsigc++-2.4.1/
libtins/.extracted-*
libtins/libtins-4.0-*
!libtins/libtins-4.0.tar.gz
libtool/.extracted
libtool/libtool-2.4.6/
libxml2/.extracted
libxml2/libxml2-2.9.8/
libxslt/.extracted
libxslt/libxslt-1.1.32/
lzo/.extracted
lzo/lzo-2.10/
m4/.extracted
m4/m4-1.4.18/
make/.extracted
make/make-4.2.1/
monit/.exctracted
monit/monit-5.25.1
mpc/.extracted
mpc/mpc-1.1.0/
mpfr/.extracted
mpfr/mpfr-4.0.1/
ncurses/.extracted
ncurses/ncurses-6.1/
nettle/.extracted
nettle/nettle-3.4/
odbc/.extracted
odbc/unixODBC-2.3.5/
openssh/.extracted
openssh/openssh-7.7p1/
openssl/.extracted
openssl/openssl-1.0.2o/
pam/.extracted
pam/Linux-PAM-1.3.0/
par2cmdline/.extracted
par2cmdline/par2cmdline-0.8.0/
patch/.extracted
patch/patch-2.7.6/
pcre/.extracted
pcre/pcre-8.42/
perl/.extracted
perl/.configured
perl/perl-5.27.11/
pkg-config/.extracted
pkg-config/pkg-config-0.29.2/
pyopenssl/.extracted
pyopenssl/pyOpenSSL-0.13.1/
python/.extracted
python/Python-2.7.3-native/
python/Python-2.7.3/
rapidjson/.extracted
rapidjson/rapidjson-1.1.0/
screen/.extracted
screen/screen-4.6.2/
sed/.extracted
sed/sed-4.5/
sqlite/.extracted
sqlite/sqlite-autoconf-3220000/
srtp/.extracted
srtp/libsrtp-2.1.0/
strace/.extracted
strace/strace-4.21/
tar/.extracted
tar/tar-1.29/
tcl/.extracted
tcl/tcl8.6.8/
texinfo/.extracted
texinfo/texinfo-6.5/
tmux/.extracted
tmux/tmux-2.6/
toolchain/.old/
tz/.extracted
tz/tz-native/
tz/tz/
unrar/.extracted
unrar/unrar/
unzip/.extracted
unzip/unzip60/
upx/.extracted
upx/ucl-1.03/
upx/upx/
util-linux/.extracted
util-linux/util-linux-2.31/
vim/.extracted
vim/vim80/
wget/.extracted
wget/wget-1.19.5/
xz/.extracted
xz/xz-5.2.3/
yenc/.extracted
yenc/yenc-0.4.0/
zlib/.extracted
zlib/zlib-1.2.11/
zsh/.extracted
zsh/zsh-5.4.2/
