### local
.old/

### packages
asterisk/.extracted
asterisk/.extracted_chan_dongle
asterisk/asterisk-*/
asterisk/asterisk-chan-dongle/
autoconf/.extracted
autoconf/autoconf-*/
automake/.extracted
automake/automake-*/
bash/.extracted
bash/bash-*/
bdb/.extracted
bdb/db-*/
binutils/.extracted
binutils/binutils-*/
binutils/build-binutils/
bison/.extracted
bison/bison-*/
boost/.extracted
boost/user-config.jam
boost/boost_*/
bzip2/.extracted
bzip2/bzip2-*/
check/.extracted
check/check-*/
cheetah/.extracted
cheetah/Cheetah3-*/
cmake/.extracted
cmake/cmake-*/
cmake/cmake-*-native/
coreutils/.extracted
coreutils/coreutils-*/
cpio/.extracted
cpio/cpio-*/
curl/.extracted
curl/curl-*/
diffutils/.extracted
diffutils/diffutils-*/
distcc/.extracted
distcc/distcc-distcc-*/
expat/.extracted
expat/expat-*/
file/.extracted
file/file-*-native/
file/file-*/
findutils/.extracted
findutils/findutils-*/
flex/.extracted
flex/flex-*/
gawk/.extracted
gawk/gawk-*/
gcc/
gettext/.extracted
gettext/gettext-*/
git/.extracted
git/git-*/
glib/.extracted
glib/glib-*/
gmp/.extracted
gmp/gmp-*/
gnutls/.extracted
gnutls/gnutls-*/
grep/.extracted
grep/grep-*/
gzip/.extracted
gzip/gzip-*/
htop/.extracted
htop/htop-*/
iksemel/.extracted
iksemel/iksemel-*/
jansson/.extracted
jansson/jansson-*/
lbzip2/.extracted
lbzip2/lbzip2-*/
libevent/.extracted
libevent/libevent-*-stable/
libffi/.extracted
libffi/libffi-*/
libgdbm/.extracted
libgdbm/gdbm-*/
libiconv/.extracted
libiconv/libiconv-*/
libmysqlclient/.extracted
libmysqlclient/mysql-connector-c-*-src/
libmysqlclient/mysql-connector-c-*-src-native/
libpar2/.extracted
libpar2/libpar2-*/
libpcap/.extracted
libpcap/libpcap-*/
libreadline/.extracted
libreadline/readline-*/
libsigc++/.extracted
libsigc++/libsigc++-*/
libtins/.extracted-*
libtins/libtins-*/
!libtins/libtins-4.0.tar.gz
libtool/.extracted
libtool/libtool-*/
libxml2/.extracted
libxml2/libxml2-*/
libxslt/.extracted
libxslt/libxslt-*/
lzo/.extracted
lzo/lzo-*/
m4/.extracted
m4/m4-*/
make/.extracted
make/make-*/
monit/.exctracted
monit/monit-*/
mpc/.extracted
mpc/mpc-*/
mpfr/.extracted
mpfr/mpfr-*/
ncurses/.extracted
ncurses/ncurses-*/
nettle/.extracted
nettle/nettle-*/
odbc/.extracted
odbc/unixODBC-*/
openssh/.extracted
openssh/openssh-*/
openssl/.extracted
openssl/openssl-*/
pam/.extracted
pam/Linux-PAM-*/
par2cmdline/.extracted
par2cmdline/par2cmdline-*/
patch/.extracted
patch/patch-*/
pcre/.extracted
pcre/pcre-*/
perl/.extracted
perl/.configured
perl/perl-*/
pkg-config/.extracted
pkg-config/pkg-config-*/
pyopenssl/.extracted
pyopenssl/pyOpenSSL-*/
python/.extracted
python/Python-*-native/
python/Python-*/
rapidjson/.extracted
rapidjson/rapidjson-*/
screen/.extracted
screen/screen-*/
sed/.extracted
sed/sed-*/
sqlite/.extracted
sqlite/sqlite-autoconf-*/
srtp/.extracted
srtp/libsrtp-*/
strace/.extracted
strace/strace-*/
tar/.extracted
tar/tar-*/
tcl/.extracted
tcl/tcl*/
texinfo/.extracted
texinfo/texinfo-*/
tmux/.extracted
tmux/tmux-*/
toolchain/.old/
tz/.extracted
tz/tz-native/
tz/tz/
unrar/.extracted
unrar/unrar/
unzip/.extracted
unzip/unzip*/
upx/.extracted
upx/ucl-*/
upx/upx/
util-linux/.extracted
util-linux/util-linux-*/
vim/.extracted
vim/vim80/
wget/.extracted
wget/wget-*/
xz/.extracted
xz/xz-*/
yenc/.extracted
yenc/yenc-*/
zlib/.extracted
zlib/zlib-*/
zsh/.extracted
zsh/zsh-*/
